.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.gallery-item {
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.75rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.125);
  transition: transform 0.2s ease-in-out;

  &:nth-child(odd) {
    transform: rotate(2deg);
  }

  &:nth-child(3n + 1) {
    transform: rotate(-1deg);
  }

  &:hover {
    transform: scale(1.05);
  }

  .link {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .thumbnail {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.125rem;
    background-color: black;
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
    color: hsla(0, 0%, 0%, 50%);

    .author {
      display: block;
      font-weight: 700;
      font-size: 12px;
      color: black;
      width: fit-content;
    }

    .date {
      display: block;
    }
  }
}

.shade {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: black;
  opacity: 0.85;
}

.wrapper {
  position: fixed;
  inset: 0;
  height: 90%;
  width: fit-content;
  max-width: 90%;
  margin: auto;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;

  img {
    max-width: 90vh;
    height: 100%;
    object-fit: contain;
    background-color: hsla(0, 0%, 0%, 95%);
  }

  .comments {
    flex: 1 1 auto;
    min-width: 400px;
  }
}
